.cont_div{
    height: 55px;

margin-top: 15px;
}

.somefield{
    display: flex;
   vertical-align: middle;
    height: 30px;;
  
}


 




textarea{
    width: 100%;
    align-items: end;
   
   
}

.card_div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    border-radius: 4px;
    background-color: rgb(129, 123, 123);
    height: 35px;
    width: 160px;
    margin-top: 10px;
 
}
