.container_div{

width: 700px;

border:  1px solid lightgray;
margin: auto;
margin-top: 15px;
}




 




textarea{
    width: 100%;
    align-items: end;
   
   
}

.card_div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    border-radius: 4px;
    background-color: rgb(129, 123, 123);
    height: 35px;
    width: 160px;
    margin-top: 10px;
 
}
